{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <div class="row divider orange">
    <div class="col-md-12"></div>
  </div>
  <div class="row banner main">
    <div class="col-md-1"></div>
    <div class="col-md-10 padding-none">
      <h1>The Woodworker's Forum</h1>
    </div>
  </div>

  <div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

  </div>
  <div>
  </div>

  <div>
    <h2>Project Categories</h2>
    <div class="row">
      {% for category in categories %}
        <a href = "{{url_for('showProjects', category_id = category.CategoryID)}}">

              <div class="col-lg-4 col-md-6 col-sm-12 category-list">
                <img src='{{url_for('static', filename = 'images/' + category.CategoryPicture)}}' class="img-fluid">
                </br>
                <h4>{{category.CategoryName}}</h4>
              </div>
        </a>
      {% endfor %}
    </div>
  </div>

  <div>
    <h2>Recent Projects</h2>
    <div class="row">
      {% for project in recentProjects %}
          <a href = "{{url_for('showOneProject', category_id = project.CategoryID, project_id=project.ProjectID)}}">
            <div class="col-lg-4 col-md-6 col-sm-12 category-list">
              <img src='{{url_for('static', filename = 'images/' + project.ProjectPicture)}}' height="150px" width = "150px">
              </br>
              <h4>{{project.ProjectName}}</h4>
              <h4><strong>Category:</strong> {{project.Category.CategoryName}}</h4>
              <h4><strong>User:</strong>{{project.User.Username}}</h4>
              <h4>{{project.DateAdd}}</h4>
            </div>
          <a/>
      {% endfor %}
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}
