{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider orange">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
    <div class="col-md-1"></div>
    <div class="col-md-10 padding-none">
      <h1>{{ category.CategoryName }}</h1>
    </div>
  </div>

  <div class = 'flash'>
		{% with messages = get_flashed_messages() %}
    	{% if messages %}
    			<ul>
          {% for message in messages %}
              <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
          </ul>
          {% endif %}
    {% endwith %}

  </div>
  	<div class="row padding-top padding-bottom">
  		<div class="col-md-11 padding-none">
  			<a href="{{url_for('newProject', category_id = category.CategoryID )}}">
  				<button class="btn btn-default" id="new-menu-item">
  					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>Add Project
  				</button>
  			</a>
				<a href = '{{url_for('showCategories')}}'>
          <button class="btn btn-default">
          <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Back to Categories</button>
        </a>
  		</div>
  		<div class="col-md-7"></div>
  	</div>


		<div>
	    <h2>{{category.CategoryName}} Projects</h2>
	    <div class="row">
	      {% for project in projects %}
	        <a href = "{{url_for('showOneProject', category_id = project.CategoryID, project_id = project.ProjectID)}}">

	              <div class="col-lg-4 col-md-6 col-sm-12 category-list">
	                <img src='{{url_for('static', filename = 'images/' + project.ProjectPicture)}}' width = "350px" height = "350px">
	              </br>
	                <h4>{{project.ProjectName}}</h4>
	              </div>
	        </a>
	      {% endfor %}
	    </div>
	  </div>

{% include "footer.html" %}
{% endblock %}
